
/* ANIMAÇÃO JS */
header.rolagem{
    z-index: 3;
    background-color: #091c1d;
    padding: 10px 4%;
}

header.rolagem a{
    color: white;
}
/* FIM DA ANIMAÇÃO JS */

/* ESTILIZAÇÃO DO CABEÇALHO */
header{
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .4s;
}

header img{
    height: auto;
    width: 120px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-family: Espiritu;

    padding: 2px 14px;
    border-radius: 10px;
    background-color: #d0804e;
}

header nav.menu-desktop a:hover{
    color: #fff;
    background-color: #f8975b;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

.logo img{
    height: auto;
    width: 120px;
}

.menu-mobile, .btn-abrir-menu i{
    display: none;
}