.topo-do-site{
    background-image: url("../../imgs/background/background-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.topo-do-site .flex{
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.topo-do-site .txt-topo-site{
    width: 100%;
    padding: 0px 6%;
    animation: opacidade-moviment 1s ease-out alternate;
}

.topo-do-site .txt-topo-site h1{
    color: #f7d2a9;
    font-size: 5em;
    font-family: Espiritu Cond;
}

.topo-do-site .txt-topo-site h1 span{
    color: #fff;
}