@media screen and (max-width: 960px) {

    /* CLASSES GERAIS */
    section.fundo-section .flex {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position-x: 53%;
        gap: 20px;
    }

    .fundo-section .container {
        margin-top: 15%;
        height: 70vh;
        width: 350px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* IMG + TXT */
    .text-img {
        margin-top: 20%;
        height: 200px;
        width: 250px;

        position: relative;
        top: 0;
        left: 0;
        animation: none;
    }

    .img-icon {
        position: absolute;

        height: 140px;
        width: auto;
        top: 0;
        left: 0;
    }

    .title {
        font-size: 35px;
        top: 8%;
        left: 70px;
    }

    .subtitle {
        font-size: 65px;
        top: 1%;
        left: 70px;
    }

    /* FORM + BTN */
    .form-container {
        height: 400px;
        width: 300px;

        display: flex;
        align-items: center;
        justify-content: center;

        top: 0;
        left: 0;
        padding: 40px 4%;
    }

    .form-container .heading {
        display: none;
    }

    .input-field label {
        font-size: 12px;
    }

    .input-field input {
        font-size: 12px;
        padding: 8px 15px;
        width: 250px;
    }
}