@media screen and (max-width: 960px) {

    /* CABEÇALHO */
    header img{
        max-width: 100px;
        margin-left: 25px;
    }
    
    header .btn-agendar{
        display: none;
        margin-right: 40px;
    }
    
    header ul li a{
        display: none; }

    /* CLASSES GERAIS */

    .banner{
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        background-position: 53%;
    }

    .texto-inicial{
        left: 35px;
    }

    /* IMG + TXT */
    .texto-inicial h1 {
        font-size: 40px;
    }

    .texto-inicial .btn-agendar-agora {
        left: 40px;
    }
}