@media screen and (max-width: 960px) {

    /* CLASSES GERAIS */
    .banner{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        background-position: 53%;
    }

    .texto-inicial{
        z-index: 1;
        left: 35px;
    }

    /* IMG + TXT */
    .texto-inicial h1 {
        z-index: 8888;
        font-size: 40px;
    }

    .texto-inicial .btn-agendar-agora {
        left: 40px;
    }

    .main-footer{ /*verificar o uso do footer*/
        display: none;
      }
}