@media screen and (max-width: 960px) {

    /* CLASSES GERAIS */
    .flex-content {
        flex-direction: column;
    }

    .content {
        margin-bottom: 15%;
        height: 600px;
        width: 350px;
    }

    .fundo-section {
        height: 120vh;
        background-position: 53%;
    }

    /* CABEÇALHO */
    header img {
        max-width: 100px;
        margin-left: 25px;
    }

    header{
        display: none;
    }

    header .btn-agendar {
        display: none;
        margin-right: 40px;
    }

    header ul li a {
        display: none;
    }

    /* IMG + TXT */
    .text-img {
        height: 250px;
        width: 250px;
        top: 15px;
        left: 15%;
        animation: none;
    }

    .img-icon {
        max-height: 270px;
        right: 16%;
        bottom: 53%;
    }

    .title {
        font-size: 35px;
        top: 27%;
        left: 36%;
    }

    .subtitle {
        font-size: 65px;
        top: 24%;
        left: 36%;
    }

    /* FORM + BTN */
    .form-container {
        width: 300px;
        padding: 10px;
        left: 7.5%;
    }

    .form-container .heading {
        display: none;
    }

    .main-footer {
        display: none;
    }
}