@media screen and (max-width: 960px) {

  /* CLASSES GERAIS */
  section.fundo-section .flex{
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position-x: 53%;
    gap: 20px;
}

  section.fundo-section .container{
    flex-direction: column;
  }

  .fundo-section .container {
    height: 500px;
    width: 300px;
    border-radius: 15px;

    margin-top: 30%;

    align-items: center;
    justify-content: center;
  }

  /* IMG + TXT */
  .text-img {
    height: 150px;
    width: 200px;

    margin-top: 5%;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .img-icon {
    height: auto;
    width: 90px;
    top: 25px;
    left: 28%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 45px;
    top: 0%;
    left: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subtitle {
    font-size: 65px;
    text-shadow: -2px -2px 2px #0d2829;
    top: 12%;
    left: 1.5%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* LISTA */
  .lista-servico {
    margin-top: 25px;
    max-height: 500px;
    width: 250px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;
    overflow-y: scroll;
  }

  .element {
    height: 80px;
    width: 220px;
    margin: 10px;
    border-radius: 12px;
  }

  .titulo-servico {
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
  }

  .preco-servico {
    color: #0d2829;
    font-size: 12px;
    justify-content: flex-start;
    margin-left: 10px;
    bottom: 1px;
  }

  .duracao-servico {
    color: #0d2829;
    justify-content: flex-end;
    margin-right: 120px;
    position: relative;
    bottom: 21px;
  }

  .btn-element {
    height: 10px;
    width: 20%;
    position: relative;
    left: 77%;
    top: -25px;
  }
}