* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    background-color: #0d2829;
}

.banner, .sobre{
    height: 100vh;
    background-image: url(../imgs/background/background-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.texto-inicial{
    height: 200px;
    width: auto;
    margin-left: 2%;
    position: relative;
    top: 70px;
    left: 120px;
    
    animation: opacidade-moviment 1s ease-out alternate;
}

.texto-inicial h1 {
    color: #f7d2a9;
    font-size: 5em;
    font-family: Espiritu Cond;
}

.texto-inicial h1 span {
    color: #fff;
}

.texto-inicial .btn-agendar-agora {
    background-color: #b66f43;
    color: #f7d2a9;
    font-family: Espiritu;

    top: 0px;
    border: 0;
    height: 30px;
    width: 130px;
    border-radius: 8px;

    animation: aparecer-btn 1s ease-out alternate;
}

.btn-agendar-agora:hover {
    background-color: #d0804e;
    color: #ffffff;

    cursor: pointer;
    transition: .2s;
}